<div class="d-flex justify-content-center align-items-center vh-100 custom-bg-image ">
  <div class="container-fluid p-3 bg-color vh-100 d-flex align-items-center justify-content-center">
    <mat-card class="login-card w-100 p-4">
      <mat-card-header class="my-4">
        <mat-card-title class="text-uppercase">Inicio de sesión</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="w-100 mb-4">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email es requerido
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Formato de email inválido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 ">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Contraseña es requerida
            </mat-error>
          </mat-form-field>

          <div class="text-end mb-3">
            <button
            class="btn btn-link text-dark text-decoration-underline fs-7"
            type="button"
            (click)="recoverPassword()">
            ¿Has olvidado tu contraseña?
            </button>
          </div>

          <div *ngIf="loginError" class="alert alert-danger">
            {{loginError}}
          </div>

          <div class="d-flex justify-content-center pt-5">
            <button
              class="btn-with-icon btn btn-primary"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              <mat-icon>person</mat-icon>Ingresar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
