<h2>Rutas</h2>
<hr />
<ul class="list-group">
  <li
    routerLink="/proyectos"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Proyectos
  </li>
  <li
    routerLink="/encuestas"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Encuestas
  </li>
  <li
    routerLink="/inventario"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Inventario
  </li>
  <li
    routerLink="/Reserva"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Reserva de Aula
  </li>
</ul>
