<mat-card-header class="d-flex justify-content-between align-items-center">
  <mat-card-title class="text-uppercase">Cambiar contraseña</mat-card-title>
  <button mat-icon-button type="button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>

<mat-card-content class="mt-5">
  <form [formGroup]="changePasswordForm" (ngSubmit)="accept()">
    <!-- Contraseña actual -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Contraseña actual</mat-label>
      <input matInput formControlName="currentPassword"
             [type]="hideCurrentPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix type="button"
              (click)="hideCurrentPassword = !hideCurrentPassword"
              aria-label="Toggle password visibility">
        <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
        La contraseña actual es requerida
      </mat-error>
    </mat-form-field>

    <!-- Nueva contraseña -->
    <mat-form-field appearance="outline" class="w-100 mt-2">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput formControlName="newPassword"
             [type]="hideNewPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix type="button"
              (click)="hideNewPassword = !hideNewPassword"
              aria-label="Toggle password visibility">
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        La nueva contraseña es requerida
      </mat-error>
    </mat-form-field>

    <!-- Confirmar nueva contraseña -->
    <mat-form-field appearance="outline" class="w-100 mt-2">
      <mat-label>Confirmar nueva contraseña</mat-label>
      <input matInput formControlName="confirmPassword"
             [type]="hideConfirmPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix type="button"
              (click)="hideConfirmPassword = !hideConfirmPassword"
              aria-label="Toggle password visibility">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="changePasswordForm.hasError('mismatch')">
      Las contraseñas no coinciden
    </div>

    <div class="d-flex justify-content-center">
      <button
      class="btn-with-icon btn btn-primary"
      type="submit"
      [disabled]="!changePasswordForm.valid">
        <mat-icon>send</mat-icon>
        recuperar contraseña
      </button>
    </div>
  </form>
</mat-card-content>
