<div class="custom-bg-image">
  <div class="d-flex justify-content-center align-items-center position-relative" style="height: 100%;">
    <mat-card class="profile-card p-5 w-100" style="max-width: 1000px;">
        <div class="row">
          <div class="col-12 col-md-4 d-flex flex-column ">
            <app-profile-img class="text-center p-5 img-fluid" [imgUrl]="userData?.img" (click)="changeImg()"></app-profile-img>
            <app-role-list [roles]="userRoles?? []"></app-role-list>
          </div>

          <div class="col-12 col-md-4 p-4 text-center">
            <mat-card-title>DATOS</mat-card-title>

            <div class="mb-3">
                <div class="text-muted small">Nombre</div>
                <div class="fw-medium">{{userData?.name}}</div>
              </div>

              <div class="mb-4">
                <div class="text-muted small">Correo electrónico</div>
                <div class="fw-medium">{{userData?.email}}</div>
              </div>

              <div class="mt-auto text-center">
                <button class="btn-with-icon btn btn-primary" (click)="changePassword()">
                  <mat-icon>key</mat-icon>Cambiar contraseña
                </button>
              </div>
          </div>

          <div class="col-12 col-md-4 p-4 text-center">
            <mat-card-title>ASIGNATURAS</mat-card-title>
            <mat-card-content class="pt-3">
              <!-- <p>Matemáticas, Física</p> -->
            </mat-card-content>
          </div>

        </div>
      </mat-card>
    </div>
  </div>
