<!-- <app-nav-bar></app-nav-bar> -->
<div class="d-flex justify-content-center align-items-center vh-100 custom-bg-image ">
  <div class="container-fluid p-3 bg-color vh-100 d-flex align-items-center justify-content-center">
    <mat-card class="profile-card p-5">

      <div class="row">
        <div class="col-12 col-md-4 d-flex flex-column ">
          <app-profile-img class="text-center p-5" [imgUrl]=""></app-profile-img>
          <app-role-list></app-role-list>
        </div>

        <div class="col-12 col-md-4  p-4">
          <mat-card-title>DATOS</mat-card-title>
          <mat-card-content class="pt-3">
            <!-- <p>Nombre: Juan Pérez</p>
            <p>Correo: juan.com</p> -->
          </mat-card-content>
          <button mat-button>
            CAMBIAR CONTRASEÑA
          </button>
        </div>

        <div class="col-12 col-md-4 p-4">
          <mat-card-title>ASIGNATURAS</mat-card-title>
          <mat-card-content class="pt-3">
            <!-- <p>Matemáticas, Física</p> -->
          </mat-card-content>
        </div>

      </div>
    </mat-card>
  </div>
</div>

<!-- <app-footer></app-footer> -->
